body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.header,
.hero,
.cardcontainer,
.quote,
.signup {
    padding-top: 64px;
    padding-left: 350px;
    padding-right: 350px;
    padding-bottom: 128px;
}

.header,
.hero {
    background-color: #1F2937;

}

/* ----------- HEADER -------------- */
.header{   
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 32px;
}

.headerlogo {
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 32px;
}
a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

/* ------------- HERO ----------------*/

.heroleft .title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}
.heroleft .text {
    font-size: 18px;
    color: #E5E7EB;
}
.heroright {
    background-color: #6b6b6b;
    color: #E5E7EB;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero {
    display: flex;
    justify-content: space-between;
    gap: 64px;
}
button {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: #F9FAF8;
    border-radius: 8px;
    background: #3882F6;
    padding: 8px 24px;
 
}

.heroleft button {
    border: none;
    margin-top: 16px;
}

/*------------ CARDS --------------*/
.cardcontainer .title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 64px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 64px;
}
.card {
    max-width: 150px;
    text-align: center;
}
.cardimg {
    border-radius: 14px;
    border: 5px solid #3882F6;
    height: 150px;
    width: 150px;
    margin-bottom: 8px;
}

/* ------------ QUOTE ------------- */
.quote {
    background-color: #E5E7EB;
    padding-top: 128px;
    
}
.quote .text {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}
.quote .author {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: 800;
}

/*----------- SIGN UP -------------*/
.signup {
    padding-bottom: 64px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    border-radius: 8px;
    padding: 64px;
    background-color: #3882F6;
}

.actiontext .title {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

.actiontext .text {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 300;
}

.signup button {
    border: 3px solid #F9FAF8;
}

/*------------- FOOTER --------------- */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 300;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 16px;
}